* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFF;
}

header {
    height: 100px;
    background-color: #000;
}

.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;

}

.logo {
    width: 100px;
}

.logoimg {
    display: flex;
    height: 80px;
    width: 80px;
    background-color: #B28756;

}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}